* {
  box-sizing: border-box;
  /* background-color: rgba(92, 91, 91, 0.733); */
}

body {
  background-color: rgba(236, 236, 236, 0.336);
  margin-bottom: 10px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  
}
section{
  border: 1px solid rgb(136, 130, 130) ;
}

header{
  padding: 20px;
  text-align: left;
  background-color: #505152;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
nav a {
  color: #13293d;
  /* padding: 14px 20px; */
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  padding-left: 20px;
}
nav a:hover{
  opacity: 0.5;
}

.container{
  display: grid;
  /* min-height: 500px;
  height: 70vh; */
  grid-template-columns: 1fr 3fr;
  grid-row: 2fr 2fr 2fr;
  grid-template-areas: 
  "about ."
  "work ."
  "contact .";
  gap: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10;
}

p {
  margin: 0;
}
#bannerImage{
  /* grid-area: bannerImage; */
  background-image: url("../images/02-hero-bg.jpg");
  margin-bottom: 50px;
  width: 100%;
  height: 200px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.bannerHeading{
  position: absolute;
  background: transparent;
  bottom: 0;
  color: gold;
  font-size: 60px;
  right: 0;
  
}

/* .nior{
  position: absolute;
  background: transparent;
  bottom: 0;
  color: gold;
  font-size: 60px;
  right: 0;
} */
#work{
  grid-area: work;

}
#about{
  grid-area: about;
}
#contact{
  grid-area: contact;
}

#workGrid{
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "surfReport surfReport"
  "ledWall calculator"
  "pastelPuzzels runBuddy";
  gap: 15px;
}


#surfReport:hover,
#ledWall:hover,
#calculator:hover,
#pastelPuzzels:hover,
#runBuddy:hover {
opacity: 0.3;
}
#surfReport{
  grid-area: surfReport ;
  /* border: 5px solid rgb(247, 224, 24) ; */
  background-image: url("../images/02-portfolio-4.jpg");
}
#ledWall{
  grid-area: ledWall ;
  /* border: 5px solid rgb(24, 166, 231) ; */
  background-image: url("../images/02-portfolio-1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#calculator{
  grid-area: calculator;
  /* border: 5px solid rgb(24, 166, 231) ; */
  background-image: url("../images/02-portfolio-2.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
}
#pastelPuzzels{
  grid-area: pastelPuzzels;
  /* border: 5px solid rgb(24, 166, 231) ; */
  background-image: url("../images/02-portfolio-3.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
}
#runBuddy{
  grid-area: runBuddy;
  /* border: 5px solid rgb(24, 166, 231) ; */
  background-image: url("../images/02-run-buddy.jpg");
  background-size: cover;
  
}
.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #FF6200;
}

.categoryGridArea{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;

}